cff-version: 1.2.0
message: "If you use this pytacheck pack, please cite it as below."
title: "{{name}}: {{title}}"
type: software
version: "0.1.0"
date-released: "{{date}}"
license: MIT
authors:
  - family-names: "Name"
    given-names: "Your"
keywords:
  - pytacheck
  - metacheck
  - metascience
